/* -----------------------  footer  ------------------ */
.navbar-inverse {
    background-color: #405C71;
    border-top: 0;
}

footer {
	text-align: center;
	font-size: 85%;
	color: #fff;
	padding-bottom: 20px;
	padding-top: 20px;
}

.highlight {
	color: beige;
}