/* -----------------------  image modal  ---------------------- */

/* thumbnail style */
.thumbnails {
	margin-right: -15px;
}

.thumbnails a {
	float: left;
	width: 25%;
	padding-right: 15px;
	box-sizing: border-box;
	margin-bottom: 15px;
}

.thumbnails img {
	display: block;
	transition: all .2s ease-in-out;
}

.thumbnails:hover img {
	opacity: 0.6;
	transform: scale(.92);
}

.thumbnails img:hover {
	opacity: 1;
	transform: scale(1) rotate(1deg);
	box-shadow: 0 0 7px rgba(0,0,0,.5);
}

@media screen and (max-width: 1024px) {
	.thumbnails a {
		float: left;
		width: 33%;
		padding-right: 15px;
		box-sizing: border-box;
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 767px) {
	.thumbnails a {
		float: left;
		width: 50%;
		padding-right: 15px;
		box-sizing: border-box;
		margin-bottom: 15px;
	}
}